<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>messageId</key>
		<string>2320</string>
		<key>from</key>
		<string>11450</string>
		<key>groupId</key>
		<string>226</string>
		<key>to</key>
		<string>0</string>
		<key>message</key>
		<dict>
			<key>tpye</key>
			<string>text</string>
			<key>content</key>
			<string>啊实打实大师大师大师大师大师大师大师大师的</string>
			<key>time</key>
			<string>1111111111</string>
		</dict>
		<key>creationTime</key>
		<string>2015-12-04 14:24:53</string>
		<key>name</key>
		<string>0</string>
		<key>avatar</key>
		<string>http://img.name2012.com/uploads/allimg/2015-06/30-023131_451.jpg</string>
		<key>time</key>
		<string>1111111111</string>
	</dict>
	<dict>
		<key>messageId</key>
		<string>2320</string>
		<key>from</key>
		<string>1145</string>
		<key>groupId</key>
		<string>226</string>
		<key>to</key>
		<string>0</string>
		<key>message</key>
		<dict>
			<key>tpye</key>
			<string>text</string>
			<key>content</key>
			<string>啊实打实大师大师大师大师大师大师大师大师的</string>
			<key>time</key>
			<string>1111111111</string>
		</dict>
		<key>creationTime</key>
		<string>2015-12-04 14:24:53</string>
		<key>name</key>
		<string>张三</string>
		<key>avatar</key>
		<string>http://img.name2012.com/uploads/allimg/2015-06/30-023131_451.jpg</string>
		<key>time</key>
		<string>2222222222</string>
	</dict>
	<dict>
		<key>messageId</key>
		<string>2320</string>
		<key>from</key>
		<string>11450</string>
		<key>groupId</key>
		<string>226</string>
		<key>to</key>
		<string>0</string>
		<key>message</key>
		<dict>
			<key>tpye</key>
			<string>text</string>
			<key>content</key>
			<string>啊实打实大师大师大师大师大师大师大师大师的</string>
			<key>time</key>
			<string>1111111111</string>
		</dict>
		<key>creationTime</key>
		<string>2015-12-04 14:24:53</string>
		<key>name</key>
		<string>张三</string>
		<key>avatar</key>
		<string>http://img.name2012.com/uploads/allimg/2015-06/30-023131_451.jpg</string>
		<key>time</key>
		<string>3333333333</string>
	</dict>
	<dict>
		<key>messageId</key>
		<string>2320</string>
		<key>from</key>
		<string>1145</string>
		<key>groupId</key>
		<string>226</string>
		<key>to</key>
		<string>0</string>
		<key>message</key>
		<dict>
			<key>tpye</key>
			<string>text</string>
			<key>content</key>
			<string>啊实打实大师大师大师大师大师大师大师大师的</string>
			<key>time</key>
			<string>322222222222</string>
		</dict>
		<key>creationTime</key>
		<string>2015-12-04 14:24:53</string>
		<key>name</key>
		<string>客服-张三</string>
		<key>avatar</key>
		<string>http://img.name2012.com/uploads/allimg/2015-06/30-023131_451.jpg</string>
		<key>time</key>
		<string>4444444444</string>
	</dict>
	<dict>
		<key>messageId</key>
		<string>2320</string>
		<key>from</key>
		<string>11450</string>
		<key>groupId</key>
		<string>226</string>
		<key>to</key>
		<string>0</string>
		<key>message</key>
		<dict>
			<key>tpye</key>
			<string>text</string>
			<key>content</key>
			<string>啊实打实大师大师大师大师大师大师大师大师的</string>
			<key>time</key>
			<string>333333333333</string>
		</dict>
		<key>creationTime</key>
		<string>2015-12-04 14:24:53</string>
		<key>name</key>
		<string>张三</string>
		<key>avatar</key>
		<string>http://img.name2012.com/uploads/allimg/2015-06/30-023131_451.jpg</string>
		<key>time</key>
		<string>5555555555</string>
	</dict>
	<dict>
		<key>messageId</key>
		<string>2320</string>
		<key>from</key>
		<string>11450</string>
		<key>groupId</key>
		<string>226</string>
		<key>to</key>
		<string>0</string>
		<key>message</key>
		<dict>
			<key>tpye</key>
			<string>text</string>
			<key>content</key>
			<string>啊实打实大师大师大师大师大师大师大师大师的</string>
			<key>time</key>
			<string>333333333333</string>
		</dict>
		<key>creationTime</key>
		<string>2015-12-04 14:24:53</string>
		<key>name</key>
		<string>张三</string>
		<key>avatar</key>
		<string>http://img.name2012.com/uploads/allimg/2015-06/30-023131_451.jpg</string>
		<key>time</key>
		<string>5555555555</string>
	</dict>
	<dict>
		<key>messageId</key>
		<string>2320</string>
		<key>from</key>
		<string>11450</string>
		<key>groupId</key>
		<string>226</string>
		<key>to</key>
		<string>0</string>
		<key>message</key>
		<dict>
			<key>tpye</key>
			<string>text</string>
			<key>content</key>
			<string>啊实打实大师大师大师大师大师大师大师大师的</string>
			<key>time</key>
			<string>333333333333</string>
		</dict>
		<key>creationTime</key>
		<string>2015-12-04 14:24:53</string>
		<key>name</key>
		<string>张三</string>
		<key>avatar</key>
		<string>http://img.name2012.com/uploads/allimg/2015-06/30-023131_451.jpg</string>
		<key>time</key>
		<string>5555555555</string>
	</dict>
	<dict>
		<key>messageId</key>
		<string>2320</string>
		<key>from</key>
		<string>11450</string>
		<key>groupId</key>
		<string>226</string>
		<key>to</key>
		<string>0</string>
		<key>message</key>
		<dict>
			<key>tpye</key>
			<string>text</string>
			<key>content</key>
			<string>啊实打实大师大师大师大师大师大师大师大师的</string>
			<key>time</key>
			<string>1450179168</string>
		</dict>
		<key>creationTime</key>
		<string>2015-12-04 14:24:53</string>
		<key>name</key>
		<string>张三</string>
		<key>avatar</key>
		<string>http://img.name2012.com/uploads/allimg/2015-06/30-023131_451.jpg</string>
		<key>time</key>
		<string>5555555555</string>
	</dict>
	<dict>
		<key>messageId</key>
		<string>2320</string>
		<key>from</key>
		<string>11450</string>
		<key>groupId</key>
		<string>226</string>
		<key>to</key>
		<string>0</string>
		<key>message</key>
		<dict>
			<key>tpye</key>
			<string>text</string>
			<key>content</key>
			<string>啊实打实大师大师大师大师大师大师大师大师的</string>
			<key>time</key>
			<string>1450179704</string>
		</dict>
		<key>creationTime</key>
		<string>2015-12-04 14:24:53</string>
		<key>name</key>
		<string>张三</string>
		<key>avatar</key>
		<string>http://img.name2012.com/uploads/allimg/2015-06/30-023131_451.jpg</string>
		<key>time</key>
		<string>1450197168</string>
	</dict>
</array>
</plist>
